<div class="course">

  <h2>{{course?.description}}</h2>

  <img class="course-thumbnail mat-elevation-z8" [src]="course?.iconUrl">

</div>

<table mat-table [dataSource]="lessons" class="lessons-table mat-elevation-z8">
<ng-container matColumnDef="seqNo">
  <th mat-header-cell *matHeaderCellDef>#</th> 
  <td  mat-cell *matCellDef="let lesson">

    {{lessons.seqNo
}}

</td>


</ng-container>

<ng-container matColumnDef="description">
  <th mat-header-cell *matHeaderCellDef>Description</th> 
  <td  mat-cell *matCellDef="let lesson">

    {{lessons.description}}

</td>


</ng-container>


<tr mat-row *matRowDef="let lesson;columns:displayedColums"></tr>
</table>






